body{
	background-image: url('photo-1499951360447-b19be8fe80f5.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
	position: relative;
	text-align: center;
	height: 100%;
	width: 100%;
}
#container{
	position: static;
}
#heading {
	background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
    height: 500px;
    position: relative;
    border: 3px solid green;
    font-size: 1vw;
}

#h1head {
    margin: 0;
    color: #cc00cc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h2head {
    margin: 0;
    color: #8000ff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#details{
	margin-top: 5%;
}
#pdetails{
	background-color: black;
	opacity: 0.8;
	margin : 0;
    color: #cc00cc;
    position: absolute;
    font-size: 1vw;
    top: auto;
    left: 50%;
    transform: translate(-50%, -50%);
}
#images{
	position-top: relative;
	margin-top: 15%;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#pcontact{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	background-color: grey;
}

